@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}

main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    background-color: #FFEFD5;
}

.haunted {
  display: block;
  height: 100%;
  width: auto;

}

.box1 {
  border: 4px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 12;
  background-color: #8B0000;
  font-weight: bold;
  font-size: 20px;
}

.box2 {
  border: 4px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 23;
    background-color: #FFFACD;
    font-weight: bold;
    font-size: 20px;
}

.box3 {
  border: 4px solid black;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 18;
  background-color: #8FBC8F;
  font-weight: bold;
  font-size: 20px;
}

.box4 {
  border: 4px solid black;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 18;
  grid-row-end: 23;
  background-color: #ADD8E6;
  font-weight: bold;
  font-size: 20px;
  }

.box5 {
  border: 4px solid black;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 18;
  grid-row-end: 23;
  background-color: #483D8B;
  font-weight: bold;
  font-size: 20px;
  }

.box6 {
  border: 4px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 23;
  grid-row-end: 28;
  background-color: #FF69B4;
  font-weight: bold;
  font-size: 20px;
  }

  h5 {
    font-size: 36px;
    font-weight: 800;
    color: #ed872d;
    text-shadow: 2px 2px black;
  }

  #boldtext {
    font-weight: bold;

  }

  h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

 .grid-container {
    display: grid;
    justify-content: space-evenly;
    gap: 15px;
    border: 8px #8B0000;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "haunted1 haunted3"
    "haunted2 haunted4"
    "haunted5 haunted7"
    "haunted6 haunted8"
    "haunted9 haunted11"
    "haunted10 haunted12";
    
  }   

  @media (max-width: 600px) {
    .grid-container {
      grid-template-areas: 
      "haunted1"
      "haunted2"
      "haunted3"
      "haunted4"
      "haunted5"
      "haunted6"
      "haunted7"
      "haunted8"
      "haunted9"
      "haunted10"
      "haunted11"
      "haunted12";
      grid-template-columns: 1fr;
    }
  } 

  .haunted1 { grid-area: haunted1; }
  .haunted2 { grid-area: haunted2; }
  .haunted3 { grid-area: haunted3; }
  .haunted4 { grid-area: haunted4; }
  .haunted5 { grid-area: haunted5; }
  .haunted6 { grid-area: haunted6; }
  .haunted7 { grid-area: haunted7; }
  .haunted8 { grid-area: haunted8; }
  .haunted9 { grid-area: haunted9; }
  .haunted10 { grid-area: haunted10; }
  .haunted11 { grid-area: haunted11; }
  .haunted12 { grid-area: haunted12; }

  picture {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .haunted1 {
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
  }

.haunted2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;
}

.haunted3 {
    margin-top: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.haunted4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;
}

.haunted5 {
    margin-top: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.haunted6 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;
}

.haunted7 {
    margin-top: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.haunted8 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;  
}

.haunted9 {
    margin-top: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.haunted10 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;  
}

.haunted11 {
    margin-top: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.haunted12 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    background-color: blanchedalmond;  
}

footer {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #ed872d;
  color: white;
  border: 5px solid black;
  border-style: solid;
  margin-top: 20px;
}

.amitypop {
 margin-left: 40%;
  text-align: center;
  font-weight: bold;
  color: #8B0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.footerimage {
  width: 100%;
  height: auto;
  max-width: 150px;
}
